<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525500999187-itfscul5net966kh8pfe45n1q55ci8rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525500999187-itfscul5net966kh8pfe45n1q55ci8rk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525500999187-hu4khuipqurvdbpp99j6gme68ijagnj9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCt83j2QYEo6ppm1JXM9YIIRD47uEkuL_k</string>
	<key>GCM_SENDER_ID</key>
	<string>525500999187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rekosistemAssignmentTask</string>
	<key>PROJECT_ID</key>
	<string>reko-assignment-task</string>
	<key>STORAGE_BUCKET</key>
	<string>reko-assignment-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525500999187:ios:afc81430398657d1aa01e6</string>
</dict>
</plist>